{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Welcome to time tracker</li>
{% endblock %}

{% block content %}
  <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>In time</th>
            <th>Out Time</th>
          </tr>
        </thead>
        <tbody>
          {% for attendance in attendances %}
            <tr>
              <td>
                {{ attendence.user }}
              </td>
              <td>
                {{ attendence.user.email }}
              </td>
              <td class="align-middle">
                {{ attendence.in_time }}
              </td>
              <td class="align-middle">
                {{ attendence.out_time }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
